<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>
</head>
<body>
    <h1> <%= contest.name %></h1>
    <div>
        <span>Start Time:<%= contest.startTime %> </span> &emsp;
        <span>Duration :<%= contest.duration %>  </span>
        <ul>
            <% contest.problems.forEach(problem => { %>
            <li>
                <%= problem.name%> &emsp; Accuracy: <%= problem.accuracy%> &emsp; Successful Attempts: <%= problem.numSuccessfulAttempts%>
            </li>
            <% }); %>
        </ul>
    </div>
    <h2>Other details</h2>
    <div>
        <span >Organizer: <%= contest.organizer.name %></span><br>
        <h3>Prizes</h3>
        <ul>
            <% contest.prizes.forEach(prize =>{%>
                <li>
                    <%= prize %>
                </li>
            <%})%>
        </ul>
    </div>
</body>
</html>