<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Contests Organized</title>
</head>
<body>
    <ul>
        <% for (contest of contests) { %>
            <li>
                <a href="/contests/<%= contest._id %>"><%= contest.name %></a>
                <%= contest.startTime %>
                <%= contest.duration %>
                <a href="/contests/<%= contest._id %>/edit">Edit</a>
            </li>
        <% } %>
    </ul>
</body>
</html>